html{
    height: 100%;
    padding: 0;
    position: relative;
    min-height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 0px black, 0 0 1em black;
    font-family: Arial;
}

header{
    height: 85px;
    width: 100%;
    background-color: #B3D600;
    position: fixed;
    top: 0;
    z-index: 2;
}

.container-fluid {
    height: 100%;
    padding: 0;
}

/*Styles for header menu*/

#headerMenu{
    display: flex;
    cursor: pointer;
    width:100%;
}

#headerMenu div:hover{
    background-color: #F06060;
}

#headerMenu div{
    width: 15%;
    height: 85px;
}

/*Styles for images in user menu*/

#menuImages > div > div {
    -webkit-filter: brightness(100%);
}

#menuImages > div > div:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
}

#menuImages > div > div:not( :hover ){
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#menuImages{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

















#loginBlock{
    background-color: #F06060;
}

#content{
    margin-top: 85px;
    background: url("Library.png") no-repeat;
    background-size: 100% 100%;
}

label{
    color:white;
}

#page h1,p{
    color:white;
}

p{
    font: 14px "Trebuchet MS", "Lucida Sans";
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color: white;
}

ul{
    margin: 0;
    padding: 0;
    width:100%;
}

li{
    list-style-type: none;
    color:white;
}


div li{
    position: relative;
    top: 35%;
    text-align: center;
    vertical-align: bottom;
}

footer{
    height: 80px;
    background-color: #F06060;
}