
/*Common styles */

html{
    padding: 0;
    height: 100%;
    min-height: 100%;
    position: relative;
}

body{
    padding: 0;
    height: 100%;
}

header{
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #35B54F;
    text-shadow: 1px 1px 0 black, 0 0 1em black;
    z-index: 2;
}

footer{
    height: 80px;
    background-color: #F06060;
}

.container-fluid {
    padding: 0;
    height: 100%;
    z-index: 1;
}

/*Styles for header menu*/

#headerMenu{
    display: flex;
    cursor: pointer;
    width:100%;
}

#headerMenu div:hover{
    background-color: #F06060;
}

#headerMenu div{
    width: 15%;
    height: 85px;
}

/*Styles for input forms menu*/

#firstRow{
    height: 10%;
}

#secondRow{
    height: 70%;
}

#firstErrorRow{
    height: 15%;
}

#secondErrorRow{
    height: 50%;
}


.sideColumn{
    height: 100%;
}

.topImage{
    width: 100%;
    margin-top: 10%;
}

.bottomImage{
    width: 100%;
    margin-top: 100%;
}

.tableRow{
    min-height: 110%;
}

/*Styles for error pages*/

#errorBlockLogo{
    width: 80%;
    margin-left: 8%;
    margin-top: 80px;
}

#errorPageTitle{
    margin-top: 90px;
}

#errorPageBody{
    padding-right: 20px;
    color: white;
    text-shadow: 1px 1px 0 black, 0 0 1em black;
}


/*Styles for tables*/

.firstTableRow{
    height: 3%;
}

.secondTableRow{
    height: 97%;
}

.row.secondTableRow{
    margin-right: 0;
}

/*Styles for edit page*/

.firstEditRow{
    height: 3%;
}

.secondEditRow{
    height: 80%;
}

.thirdEditRow{
    height: 90%;
}

#editAccountAvatar{
    width: 100%;
    border-radius: 20px;
}

/*Different color blocks for form input */

#addLibrarianBlock{
    background-color: #33c4ba;
    min-height: 95%;
    border-radius: 20px;
}

#errorBlock{
    background-color: #33c4ba;
    min-height: 95%;
    border-radius: 20px;
}


#addBookBlock{
    background-color: #424c93;
    height: 100%;
    overflow:scroll;
    border-radius: 20px
}

#editAccountBlock{
    min-height: 100%;
    overflow:scroll;
    background-color: #3b5998;
    border-radius: 20px;
}


/*   */

#bookingLogo{
    float: left;
    width: 35px;
}

.blockImage{
    float: left;
    width: 35px;
}

.blockTitle{
    color: white;
    margin-top: 0;
    padding-left: 45px;
}

#bookingTableLogo{
    float: left;
    width: 35px;
    margin-top: 20px;
    margin-left: 2%;
}


#pageTitle{
    margin-left: 8%;
}

.uploadButton{
    background-color:white;
    border-radius: 5px;
}

.submitButton{
    margin: 0;
    width:110%;
}

.editAccountSubmitButton{
    margin: 0;
    width:100%;
}

/*Styles for inputs and buttons*/

.transition, form button, form .inputGroup label, form .inputGroup input {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

form button {
    margin-top: 35px;
    background-color: white;
    border: 1px solid #ff4a56;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: #ff4a56;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}

form button:hover, form button:focus {
    color: white;
    background-color: #ff4a56;
}

form .inputGroup {
    position: relative;
    padding: 10px 0;
    z-index: 1;
}

form .inputGroup:first-of-type {
    padding-top: 0;
}

form .inputGroup:last-of-type {
    padding-bottom: 0;
}

form .inputGroup label {
    transform-origin: left center;
    color: white;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
}

form .inputGroup input {
    color: white;
    appearance: none;
    background-color: transparent;
    border: 1px solid white;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}

form .inputGroup input:focus {
    outline: none;
    background: white;
    color: #424c93;
    margin-top: 30px;
}

form .inputGroup input:valid {
    margin-top: 30px;
}

form .inputGroup input:focus ~ label{
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
}

form .inputGroup input:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
}

/*Other styles*/

#content{
    margin-top: 85px;
    background: url("Library.png") no-repeat;
    background-size: 100% 100%;
}

#addBookContent{
    background: url("../images/addBookBackground.jpg") no-repeat;
    background-size: 100% 100%;
}

.content{
    margin-top: 85px;
}




label,#page h1,h4 {
    color:white;
    text-shadow: 1px 1px 0 black, 0 0 1em black;
}

p{
    font: 14px "Trebuchet MS", "Lucida Sans";
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color: white;
}

ul{
    margin: 0;
    padding: 0;
    width:100%;
}

li{
    list-style-type: none;
    color:white;
}

div li{
    position: relative;
    top: 35%;
    text-align: center;
    vertical-align: bottom;
}



/*Google material design buttons*/

/* Material style */


td, th{
    text-align: left;
}


.googleButton {
    border: none;
    cursor: pointer;
    color: white;
    font-size: 11px;
    padding: 7px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    background: #424c93;

    white-space: normal;
    width: 110px;
    position: relative;
    overflow: hidden;
}

.googleButton:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.googleButton:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}


.googleTableRow{
    min-height: 80%;
    margin-top: 20px;
}


.googleTable{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.googleTableTitle{
    margin-left: 70px;
}

.hiddenForm{
    display: none;
}

.modal-footer{
    display: inline-flex;
    margin-left: 310px;
    border-top: none;
}

.deleteMemberHeader{
    min-height: 17%;
    border-radius: 20px;
    background-color: #424c93;
    color: white;
}

/*Styles for datatables*/

#example_filter{
    margin-bottom: 1%;
    margin-right: 30px;
}
#example_filter label{
    color:white;
}
.mdl-button{
    color: white;
}
#example_info{
    color:white;
}
.btn dropdown-toggle btn-default{
    margin-top:0;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background : none;
}
form .question input:valid {
    margin-top: 10px;
}
form .question input:focus {
    outline: none;
    background: white;
    color: #33c4ba;
    margin-top: 10px;
}
.mdl-button--raised.mdl-button--colored{
}
.mdl-button--raised.mdl-button--colored:hover{
}

/*Styles for images in user menu*/

#menuImages > div > div {
    -webkit-filter: brightness(100%);
}

#menuImages > div > div:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
}

#menuImages > div > div:not( :hover ){
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#menuImages{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#addBook{
    background: url('https://www.thehagueuniversity.com/images/default-source/studievoorzieningen/zoeken-en-vinden.jpg?sfvrsn=275152ee_4&size=600') no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

#addLibrarian{
    background: url('Library.png') no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

#editAccount{
    background: url('Library.png') no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

#deleteBookMenu{
    background: url('https://az616578.vo.msecnd.net/files/2016/05/19/635992798386672964-148953701_Stack-of-books-great-education.jpg') no-repeat;
    background-size: 100% 100%;
    height: 100%
}

#deleteLibrarianMenu{
    background: url('https://bloximages.newyork1.vip.townnews.com/collegian.psu.edu/content/tncms/assets/v3/editorial/2/0e/20e79ee0-9437-11e7-bcc3-67e65471482e/59b1f5c76ef4b.image.jpg?resize=1200%2C800') no-repeat;
    background-size: 100% 100%;
    height: 100%
}

#deleteMemberMenu{
    background: url('https://agescotland.files.wordpress.com/2012/06/two-men-in-library.jpg') no-repeat;
    background-size: 100% 100%;
    height: 100%
}

#titleBlock{
    background-color: #F06060;
    height:100%;
    text-align: center;
    display: none
}

#titleBlock label{
    display: none;
}