<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Archetype Created Web Application</display-name>
    <!--Для обработки ошибок и исключений-->
    <jsp-config>
        <taglib>
            <taglib-uri>infotag</taglib-uri>
            <taglib-location>/WEB-INF/tld/infotag.tld</taglib-location>
        </taglib>
    </jsp-config>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error/internalError.jsp</location>
    </error-page>
</web-app>





